<label for="">{{ element.getLabel()|trans }}</label>
<textarea name="{{ element.getKey() }}"
          {% if element.isDisabled() %}disabled{% endif %}
          class="form-control"
          rows="{{ element.getRows() }}">{{ element.getValue() }}</textarea>
